@font-face
{
font-family: indian;
src: url('/font/Tribal.ttf');
}

body {
	margin: 0;
	width: 100%;
	background-color: black;
  	font: 14px 'indian', Helvetica, Arial, sans-serif;
  	color: #fff;
}

a {
  	color: #00B7FF;
}

.clearer {
	clear: both;
}

/* Classi astratte per le transitions */
.box_transition {
  -webkit-transition: opacity 0.5s ease-in-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: opacity 0.5s ease-in-out;  /* Firefox 4-15 */
       -o-transition: opacity 0.5s ease-in-out;  /* Opera 10.50–12.00 */
          transition: opacity 0.5s ease-in-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

/* Classi astratte per nascondere/mostrare i div */
.hidden {
	display: none;
	visbility: hidden;
	opacity: 0;
}

.invisible {
	visiblity: hidden;
	opacity: 0;
}

.visibile {
	opacity: 1;
}

#wrapper {
	position: relative;
	z-index: 70;
	color: #fff;
	display: none;
	z-index: 70;
}

.click-nome {
	color: #fff;
	position: absolute;
	z-index: 70;
	cursor: pointer;
	top: 300px;
	display: none;
}

#myCanvas{
	position: absolute;
	display: block;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index: 50;
}

.nome {
	z-index: 70;
	height: 100px;
	width: 600px;
	position: absolute;
	/* top: 200px;
	right: 200px; */
	color: #fff;
	font-family: 'indian', Helvetica, Arial, sans-serif;
	font-size: 30px;
	opacity: 1;
}

.colonna {
	z-index: 70;
	position: absolute;
	bottom: 50px;
	right: 20px;
	width: 20px;
	height: 10px;
	background-color: #fff;
}

.stati {
	z-index: 70;
	position: absolute;
	bottom: 50px;
	right: 20px;
	width: 100px;
	height: 100px;
	color: #fff;
}

/* Contenitore delle immagini di fabryz */
.codello-container {
	position: relative;
	margin: 0 auto;
	/* width: 960px; */
	z-index: 100;

	/*
	box-shadow: 0 60px 12px -18px hsla(0,0%,0%,.1),
    					0 60px 20px -12px hsla(0,0%,0%,.1);
    
    -webkit-animation: flottildo 1s infinite;
    -moz-animation: flottildo 1s infinite;
    -o-animation: flottildo 1s infinite;
    animation: flottildo 1s infinite;*/
}

/* @keyframes flottildo {
	100% {
    	transform: translateY(200px);
    	box-shadow: 0 40px 10px -18px hsla(0,0%,0%,.2),
    					0 40px 16px -12px hsla(0,0%,0%,.2);
	}
} */

.codello-container .row {
	position: absolute;
	width: 100%;
	text-align: center;
}

.codello-container .row img {
	position: relative;
}

.bottoni {
	z-index: 70;
	position: relative;
}
.bottoni p { 
	float: left;
	margin-right: 20px; 
	cursor: pointer;
}

#woolyarn-debug {
	display: none;

}

.megaTitle {
	text-align: center;
	padding-bottom: 20px;
}

.real-wrapper {
	position:relative;
	width: 100%;
	margin-top: 20px;
	z-index: 70;
}

.left-block {
	float: left;
	width: 40%;
}

.right-block {
	float: right;
	width: 60%;
}

.clear {
	clear: both;
}

.cadamuro{
	text-align: center;
	margin-top: 33px;
	font-size: 20px;
}