@font-face
{
font-family: indian;
src: url('/font/Tribal.ttf');
}

body {
	margin: 0;
	width: 100%;
	background-color: black;
  	font: 14px 'indian', Helvetica, Arial, sans-serif;
  	color: #fff;
}

a {
  	color: #00B7FF;
}

.clearer {
	clear: both;
}

#wrapper {
	position: relative;
	z-index: 70;
	color: #fff;
}

.click-nome {
	color: #fff;
	position: absolute;
	z-index: 70;
	cursor: pointer;
	top: 300px;
}

#myCanvas{
	position: fixed;
	bottom: 0px;
	display: block;
}

.nome {
	z-index: 70;
	height: 100px;
	width: 600px;
	position: absolute;
	top: 200px;
	right: 200px;
	color: #fff;
	font-family: 'indian', Helvetica, Arial, sans-serif;
	font-size: 40px;
	text-transform: uppercase;
	opacity: 0;
}

.colonna {
	z-index: 70;
	position: absolute;
	bottom: 50px;
	right: 0px;
	width: 20px;
	height: 10px;
	background-color: #fff;
}

.stati {
	z-index: 70;
	position: absolute;
	bottom: 50px;
	right: 20px;
	width: 100px;
	height: 100px;
	color: #fff;
}

#codello {
	position: relative;
	z-index: 70;
	left: 100px;
	top: 100px;
}

.bottoni {
	z-index: 70;
	position: relative;
}
.bottoni p { 
	float: left;
	margin-right: 20px; 
	cursor: pointer;
}