body {
	margin: 0;
	width: 100%;
	background-color: black;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  	color: #00B7FF;
}

.clearer {
	clear: both;
}

#wrapper {
	position: relative;
	z-index: 70;
	color: #fff;
}

.click-nome {
	color: #fff;
	position: absolute;
	z-index: 70;
	cursor: pointer;
}

#myCanvas{
	position: fixed;
	bottom: 0px;
	display: block;
}

.nome {
	z-index: 70;
	height: 100px;
	width: 400px;
	position: absolute;
	top: 200px;
	right: 200px;
	color: #fff;
	font-family: Arial;
	font-size: 100px;
	text-transform: uppercase;
	opacity: 0;
}